{%extends "profile/base.html"%}
{% load cloudinary %}
{% load bootstrap4 %}
{% load static%}



{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/profile.css'   %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block content %}



{% if user.is_authenticated %}
<header>
<div class="container">

  <div class="profile">
    <div class="profile-image">
      <img src="" alt="">
    </div>

    <div class="profile-user-settings">
      <h1 class="profile-user-name">{{user.username}}</h1>
      <button class="btn profile-edit-btn">Edit Profile </button>
      <button class="btn profile-settings-btn" aria-label="Profile Settings"> <i class="fas fa-cog" aria-hidden></i></button>
    </div>
     <div class="profile-stats">
       <ul>
         <li><span class="profile-stat-count">164 </span>posts</li>
         <li><span class="profile-stat-count">164 </span>followers</li>
         <li><span class="profile-stat-count">164 </span>following</li>
       </ul>
     </div>
     <div class="profile-bio">
       <p><span class="profile-real-name">{{user.username}}</span> Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium ab qu</p>
     </div>
  </div>
     <!--End profile-->
</div>
<!--End of Container-->
</header>

<div class="container">
  <main>

    {% for image in posts %}
   <div class="gallery">
     <div class="gallery-item" tabindex="0">
       <img src="{{image.image.url}}" alt="" class="img-fluid" style="max-width: 500px; max-height: 500px;">
      
     </div>
   </div> 

   {% endfor %}
   <!--End Gallery-->
   
  </main>
 
</div>
  {% else %}
 <p>Please Log in to access this page </p>

  {% endif %}





{% endblock %}