{%extends "base.html"%}
{% load cloudinary %}


{% load bootstrap4 %}
{% load static%}



{% block styles %}
{% bootstrap_css %}
<link rel="stylesheet" href="{% static 'css/search.css'   %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}


{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">

      <div class="card" >
        <img src="{{ image.image.url}}" class="card-img-top img-fluid" alt="image" >
        <div class="card-body">
          <p class="card-text">image caption : {{ image.image_caption}}</p>

          <p>posted by {{ image.creator}}</p>
          {% if image.likes.count < 2   %}
          <strong class="d-block">{{image.likes.count }} like</strong>
          {% else %}
          <strong class="d-block">{{image.likes.count }} likes</strong>
          {% endif %}

          {% if image.comments.count > 0  %}
                                      <span class="text-muted"> {{image.comments.count}} comments</span>
                                      {% else %}
                                      <span class="text-muted">no comments available</span>
                                      {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h1>Post a Comment</h1>


      <form action="{%url 'comment_image' image_id=image.id  %}" method="POST" enctype="multipart/form-data">
        {%csrf_token%}
    
        {% bootstrap_form form%}
        <input type="submit" class="btn btn-success btn-lg" value="Post">
      </form>

    </div>
  </div>
</div>




{% endblock %}